.app {
  width: 100%;
  margin: 0 auto;
}

.eventbox {
  float: left;
}

.mb-6 {
  float: left;
}

.picture {
  float: left;
  margin: 10px;
}

.more {
  clear: both;
  margin: 10px;
}

.padding {
  padding: 10px;
}

.margin {
  margin: 10px;
}

.clearfix::after {
  content: “”;
  display: block;
  clear: both;
}
