.chatCard {
  margin: 5px;
  color: blue;
}
.chatInput {
  display: flex;
  margin: 8px;
  padding: 8px;
}
.chatInputText {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  width: 100%;
  background-color: #e4ebf5;
}
.chatInputText:focus {
  outline: none;
  border: none;
}
.chatInputButton {
  float: left;
  margin-left: auto;
}
.inButton {
  background-color: #e4ebf5;
  color: blue;
}
