.chatCard {
  margin: 5px;
  color: blue;
}
.chatInput {
  display: flex;
}
.chatInputText {
  padding: auto;
}
.chatInputButton {
  float: left;
  margin: auto;
}

.cardWrapper {
  overflow-y: scroll;
  height: 500px;
}