.detailIntro {
  background-color: lightcyan;
}

.detailImage {
  width: 400px;
  height: 350px;
}

.detailHeader {
  background-color: aliceblue;
}

.detailHeaderName {
  margin-bottom: 5px;
  margin-top: 0%;
}

.youtube {
  display: inline;
  flex-flow: row wrap;
  justify-content: left;
  align-items: baseline;
  margin: 5px;
  width: 450px;
}
.youtubeIframe {
  margin: auto;
  width: 400px;
  height: 250px;
  display: block;
}

.detailIntroGoods {
  display: inline;
  flex-flow: row wrap;
  justify-content: left;
  align-items: baseline;
  margin: 5px;
}
.detailGoodsImg {
  margin: auto;
  width: 400px;
  height: 250px;
  display: block;
}

.detailTable {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

.textTh {
  position: relative;
  text-align: left;
  width: 10%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.textTd {
  text-align: center;
  width: 70%;
  background-color: #eeeeee;
  padding: 10px 0;
}

.blankTd {
  width: 3%;
  background-color: transparent;
}

.introTable {
  width: 100%;
  /* table-layout: fixed; */
}

.introTr:nth-child(odd) {
  background-color: #f0f0f0;
}
.introTr:nth-child(even) {
  background-color: wheat;
}

.introImg {
  width: 70%;
}

.introDescription {
  width: 30%;
  text-align: center;
}
