.propChip {
  margin: 5px;
  color: blue;
}
.avatar {
  float: left;
  display: block;
  /* margin-left: -20px; */
}
.avatarlist {
  display: flow-root;
  max-width: fit-content;
}
.participate {
  display: flex;
  height: 100px;
  align-items: flex-end;
}

.inButtonNormal {
  background-color: #e4ebf5;
}

.eventTitle {
  display: flex;
  align-items: center;
  width: 82vw;
  font-weight: 700;
}

.snsIcons {
  margin-left: auto;
}
