.propChip {
  margin: 5px;
  color: blue;
}
.avatar {
  float: left;
  /* margin-left: -20px; */
  margin-right: 3px;
  margin-top: 2px;
}
.avatarlist {
  display: flow-root;
  max-width: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}
.participate {
  display: flex;
  /* height: 100px; */
  height: 100%;
  padding-top: 20px;
  align-items: flex-end;
}
.snsButton {
  margin: 2px;
}
.eventInfo {
  height: max-content;
}

.eventSubject {
  max-width: 53vw;
}

.inButtonNormal {
  background-color: #e4ebf5;
}

.inEventButton {
  background-color: #e4ebf5;
  color: mediumblue;
  display: flex;
}

.inCancelButton {
  background-color: #e4ebf5;
  color: crimson;
  display: flex;
}

.multiLineButton {
  margin-top: 10px;
}

.eventTitle {
  display: flex;
  align-items: center;
  width: 82vw;
  font-weight: 700;
}

.snsIcons {
  margin-left: auto;
}

.infoBox {
  display: flex;
  align-items: center;
}

.infoDetailBox {
  width: 100%;
  display: grid;
  justify-content: space-around;
}

.infoDetail {
  text-align: center;
  width: 100%;
}

.eventWrapper {
  /* overflow-y: scroll;
  height: 65vh; */
}

.infoIcon {
  padding-left: 20px;
  padding-top: 10px;
}

.infoDivide {
  margin-top: 20px;
  margin-bottom: 20px;
}

.lastInfoBox {
  padding-bottom: 10px;
}
