.logo {
  width: 150px;
  height: auto;
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}

.header {
  background-color: lightblue;
}

.catchCopy {
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  vertical-align: middle;
}

.loginUser {
  display: inline-block;;
  float: right;
  margin-right: 30px;
}
