.header {
  background-color: #e4ebf5;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 150px;
  height: auto;
}
.loginUserDiv {
  position: absolute;
  right: 10px;
}
.inCardAvatar {
  padding: 3px;
}
