.logo {
  width: 150px;
  height: auto;
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}

.header {
  background-color: lightblue;
  margin-bottom: 10px;
}

.catchCopy {
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  vertical-align: middle;
}

.loginUserDiv {
  display: inline-block;
  float: right;
  margin-right: 30px;
}

.loginUser {
  margin-bottom: 10px;
}

.logout {
  margin-top: 0%;
  width: 100px;
  height: 30px;
  font-size: small;
  border-radius: 10px;
}