.topImage{
    width: 100%;
    height:100%;
    object-fit: cover;
    border: 0ch;
    padding: 0em;
    position: absolute;
    top:0em;
    left:0em
}
body{
    font-family:cormorant-garamond, serif;
}

p{
    position :absolute;
    top :55%;
    color: white;
    font-size: 30pt;

    animation-duration: 5s;
    animation-name: fade-in;
}

@keyframes fade-in {
  0% {
    display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
		transform: translateX(50px)
	}

	100% {
		display: block;
		opacity: 1;
		transform: translateX(0px)
	}
}
