.userCard {
  width: 100%;
}
.userBox {
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  width: 100%;
  margin-top: 10px;
}
.username {
  display: flex-inline;
  margin-left: 15px;
  margin-top: 8px;
}
.inCardUserAvatar {
  display: flex;
}

.userListMessage {
  margin-top: 20px;
  font-family: 'M PLUS Rounded 1c';
}
