.userCard {
  width: 100%;
}
.userBox {
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
}
.username {
  margin-left: 15px;
  margin-top: 8px;
}
.inCardUserAvatar {
  display: flex;
}

@media (min-height: 850px) {
  .userCardWrapper {
    overflow-y: auto;
    height: 65vh;
  }
}

.userCardWrapper {
  overflow-y: auto;
  height: 80vh;
}

.userAvatar {
  margin-left: 15px;
}

.userListMessage {
  margin-left: 15px;
  margin-top: 20px;
  font-family: 'M PLUS Rounded 1c';
}

.usernameBlank {
  margin-left: 15px;
  margin-top: 8px;
  color: gray;
}
